body {
    max-width: 100%;
    position: relative; 
    height: 100%;
    overflow-x: hidden; /*so the screen doesnt have blank space on scrolling left*/
}


/* The first screen when website is opened */
.header 
{
    background-image: url(./img/headerfd.png);
    background-size: cover;
    color: #f7f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
   /* background-repeat: no-repeat; */
}

.text-container 
{
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 205px;
    margin-top: 365px;
}

.header-img-container 
{
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Pushing the image to the right */
    margin-right: 100px;
}

/* Appreciation Archive title */
.header h1 
{
    font-size: 100px;
    margin: 0;
    font-family: 'Noto Serif Display', serif;
}

/* the girl image */
.header img 
{
    height: 330px;
    width: 350px;
    margin-top: 60%;
    margin-right: 20%;
}


/* black navbar */
    .navbar 
    {
        width: 100%;
        background-color: #000;
        overflow: auto;
        justify-content: center;
        position:absolute;
    }  

    /* navbar links */
    .navbar a {
        display: inline-block; /* Change from float to inline-block */
        text-align: center;
        padding: 12px;
        color: white;
        font-family: 'Noto Serif Display', serif;
        text-decoration: none;
        font-size: 17px;
    }

  
    /* Navbar links on mouse-over */
    .navbar a:hover {
        background-color:  #c7ddcc;
        color: #000;
    }

    .navbar ul {
        list-style-type: none;
        padding: 0;
        margin: 0; 
    }
    .navbar li {
        display: inline-block;
        margin: 0;}

    .navbar li img{
        height: 30px; 
        width: 30px;
        justify-content: flex-start;
    }

    /* Section1 */
    /* Inspiration/Story section is a flexbox of text & gratitude image */
        .flex-container1 
        {
            display: flex;
            /* flex-direction: row; */
            justify-content: space-between;
            align-items: center; 
        }
         
        .info
        {
            padding: 40px;
            padding-left: 80px;
            padding-right: 80px;
            background-color:#FFFFFF;
            font-family: 'Noto Serif Display', serif;
            color: black;
            font-size: 28px;
            line-height: 48px;
        }

        .info h2
        {
            text-align: left;
            padding-bottom: 10px;
            justify-content: right;
            font-size: 40px;
        }

        .info p
        {
            font-size: 25px;
            text-align: justify;
        }

        /* text flexbox but css is in info class */
        .text 
        {
            flex: 5.25; 
        }


/* Section2 */
/* Just links to the Gratitude journal photo carousel */
    
        .carousel-images 
        {
            flex: 4.75;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: relative;
            max-height: 100%;
        }

        /* images in the carousel */
        .mySlides img 
        {
            max-width: 420;
            max-height: 600px; /*Ensure images don't exceed the container height*/
            object-fit: cover;
            /* border-radius: 30px; */
        }

        .slideshow-controls 
        {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }

        /* < */
        .prev 
        { 
            font-size: 50px;
            cursor: pointer;
            display: inline-block;
            margin-left: 0vw;
        }
        /* > */
        .next 
        {
            font-size: 50px;
            cursor: pointer;
            display: inline-block;
            margin-left: 84vw;
        }


/* Styles for the sections */
.section 
{
    height: 100vh; /*Set the height of each section to viewport height */
}

/* Section3 for film */
/* This section is a flexbox container containing, 1 video and a title to the video */

    #Section3
    {
    background-image: url(./img/1video.png);
    background-size: cover; 
    background-repeat: no-repeat;
    }
    .film 
    {
        background-image: url(./img/film.png);
        background-size: cover;
        max-width: 100%;
    }

    /* The film heading */
    .film h2
    {
        font-size: 40px;
        margin: 0;
        font-family: 'Noto Serif Display', serif;
        text-align: center;
        color:#FFFFFF ;
        padding-top: 20px;
        }

    .film p
    {font-family: 'Noto Serif Display', serif;
        padding-top: 3px;
        text-align: center;
        color: #F6F6E9;
        padding-bottom: 3%;
        font-size: 25px;
    }

    /* for video */
    /* split into 3, 2 empty (previously flowers), 1 video */
    .flex-container 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        padding-bottom: 20px;
    
    }

    .video-container 
    {
        flex-grow: 1;
        text-align: center;
    }

    video 
    {
        max-width: 70%;
        height: auto;
        /* border-radius: 5px; */
    }

    /* Section4 */
    /* About me section: flexbox with image and description */

    .flex-container2 
    {
        background-color: #f4f4f4;
        display: flex;
        justify-content: space-between; 
        align-items: center;
        text-align: start; /* Align text to the left */
        font-family: 'Noto Serif Display', serif;
        border-bottom: #DA004D solid 20px;
        /* border-top: #DA004D solid 20px; */
    }
    
    .picture-container 
    {
        flex: 1; /* Let the image container grow to take available space */
        margin-right: 20px; /*space between the image and text*/
        margin: 80px;
    }
    
    .picture-container img
    {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        /* border: #DA004D solid 5px; */
        border: #000 solid 5px;
    }
    
    .info-container {
        flex: 2; /* Let the text container grow to take available space */
        color: black;
        /* text-align: center; Align text to the left */
        line-height: 30px; /* Adjust line-height for better readability */
        margin-right: 10%;
    }
    
    .info-container h2 {
        font-family: 'Noto Serif Display', serif;
        font-size: 40px;
        text-align: left;
    }


    
    .info-container h5 {
       
        overflow: auto;
    }
    
    .info-container p {
        font-size: 25px;
        text-align: justify;
        line-height: 45px;
        margin-top: 30px;
        /* margin-bottom: 15px; */
    }
    
    .socials {
        display: flex;
        align-items: left; /* Vertically align icons in the center */
        justify-content: left; /* Horizontally center icons */
    }
    
    .socials img{height: 60px; width: 60px;padding: 10px;}
    
    
    


.back{color: #FFFFFF;}
    
#myBtn {
    /* display: none; Hidden by default */
    position: fixed;/* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-image:url("img/logo.png")
    background-size: cover; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    /* border-radius: 10px; Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  

